.button {
    align-items: center;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: center;
    outline: 0;
    color: #fff;
    position: relative;
    height: 40px;
    white-space: nowrap;
    &:hover::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.06); /* Màu nền tối với độ trong suốt 0.5 */
        z-index: -1; /* Đặt z-index để nền tối nằm dưới button */
        border-radius: 6px;
    }
}
.large {
    height: 48px;
    padding: 0 20px;
    max-width: 250px;
    min-width: 80px;
}
.medium {
    min-width: 165px;
    max-width: 210px;
    height: 40px;
    font-size: 1.35rem;
    border: 1px solid rgba(0, 0, 0, 0.26);
    color: black;
    padding: 0 16px;
}
.quite_small {
    min-width: 60px;
    max-width: 160px;
    height: 32px;
    font-size: 1.3rem;
    padding: 0 16px;
}
.full_width {
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
}
.size_auto {
    width: auto;
    padding: 0 16px;
    font-size: 1.35rem;
}
.small {
    height: 34px;
    max-width: 190px;
    min-width: 60px;
    padding: 0 15px;
}
.primary {
    background-color: var(--primary);
    color: #fff;
    border: none;
}
.sub_primary {
    color: var(--primary);
    background-color: rgba(255, 87, 34, 0.1);
    border: 1px solid var(--primary);
}
.text {
    background-color: #fff;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.primary_text {
    background-color: #fff;
    color: var(--primary);
    border: 1px solid var(--primary);
}
.dashed_border {
    border: 1px dashed #d8d8d8;
    background-color: #fff;
    box-shadow: none;
    color: var(--primary);
}
.disabled {
    background-color: rgb(246, 166, 150);
    color: #fff;
    cursor: default !important;
}
