.custom_container_search {
    box-sizing: content-box;
    @media (min-width: 1200px) {
        max-width: 1200px !important;
    }
}
.custom_col_search {
    padding: 5px !important;
}
.custom_row_search {
    margin: 0 -5px !important;
}
.search_result_header_wrap {
    display: flex;
    align-items: center;
}
.icon_search {
    margin-right: 12px;
    font-size: 18px;
    color: #555;
}
.keyword {
    color: var(--primary);
}
.search_result_header {
    color: #555;
    font-size: 1.7rem;
    margin: 24px 0;
}
.product_list_pagination {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.35rem;
    margin-right: 120px;
}
.result_sort_wrapper {
    width: 100%;
    background: rgba(0, 0, 0, 0.03);
    padding: 13px 20px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 10px;
}
.btn_sort {
    margin-left: 8px;
}
.result_sort_text {
    margin-right: 4px;
    font-size: 1.4rem;
}
