.custom_container_search {
    box-sizing: content-box;
    @media (min-width: 1200px) {
        max-width: 1200px !important;
    }
}
.custom_col_search {
    padding: 5px !important;
}
.custom_row_search {
    margin: 0 -5px !important;
}
.search_result_header_wrap {
    display: flex;
    align-items: center;
}
.icon_search {
    margin-right: 12px;
    font-size: 18px;
    color: #555;
}
.keyword {
    color: var(--primary);
}
.search_result_header {
    color: #555;
    font-size: 1.7rem;
    margin: 24px 0;
}
