.productManagement_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.plus_icon {
    margin-right: 8px;
}
.productManagement_header_ {
    font-size: 2rem;
}
