.product_wrap {
    height: 300px;
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.09);
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    color: #333;
    position: relative;
}
.product_image_wrap {
    width: 100%;
    position: relative;
    padding-top: 100%;
    height: 0;
}
.product_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product_description {
    padding: 8px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.product_description_space {
    flex: 1;
}
.product_description_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product_description_name {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; // Giới hạn văn bản hiển thị trong 2 dòng
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.45rem;
}
.product_description_info_price {
    color: var(--primary);
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}
.price_unit {
    font-size: 1.2rem;
    margin-right: 1px;
}
.product_description_info_sold {
    font-size: 1.25rem;
}

.product_discount {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 40px;
    background-color: #ffe97a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: var(--primary);
}
.product_description_original_price {
    color: #929292;
    text-decoration: line-through;
    font-size: 1.45rem;
}
