.purchases-list_info_wrapper {
    padding: 12px 24px;
}
.purchases-list_info_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.purchases-list_info_header_status {
    color: var(--primary);
    font-size: 1.45rem;
}

.purchases-list_info_header_seller {
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.45rem;
    padding-right: 11px;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        height: 100%;
        width: 1px;
        top: 0;
        right: 6px;
        background-color: rgba(0, 0, 0, 0.54);
    }
}

.purchases-list_info_header_seller_name {
    font-weight: 500;
    margin-left: 6px;
}

.purchases-list_info_header_seller_avatar {
    width: 28px;
    height: 28px;
    border-radius: 50px;
}

.purchases-list_info_body {
    padding-top: 12px;
    display: flex;
}
.purchases-list_info_body_img {
    background: #e1e1e1;
    border: 1px solid #e1e1e1;
    height: 80px;
    width: 80px;
    object-fit: contain;
}
.purchases-list_info_body_product_name {
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.87);
}
.purchases-list_info_body_product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 12px;
}
.purchases-list_info_body_product_quantity {
    font-size: 1.45rem;
    color: rgba(0, 0, 0, 0.87);
}
.body-space {
    flex: 1;
}
.purchases-list_info_body_price {
    display: flex;
    align-self: center;
}
.purchases-list_info_body_discount_price {
    color: #000;
    margin: 0 4px 0 0;
    text-decoration-line: line-through;
    opacity: 0.26;
    font-size: 14px;
    line-height: 16px;
}

.purchases-list_info_body_original_price {
    font-size: 14px;
    line-height: 16px;
    color: var(--primary);
}
.purchases-list {
    margin-bottom: 12px;
}
